<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Acme|Dancing+Script|Oleo+Script|Timmana|Parisienne|Petit+Formal+Script|Delius|Allura" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Clicker+Script|Tangerine" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
  <link rel="stylesheet" href="css/index.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body ng-app="codeWalkThrough" ng-controller="stackoverflowController">

  <nav class="grey darken-3">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center"> Stack Overflow Search API</a>
    </div>
  </nav>

<div class="description-styles">
  <p>View top voted questions for the search criteria</p>
</div>

<div class="container">
     <div>
  <div class="row">
   <form class="col m12 s12">
     <div class="row">
       <div class="input-field col m8 s12 offset-s2">
         <input type="text" id="autocomplete-input" class="validate autocomplete" ng-model="inputSearch" ng-keypress="checkIfEnterKeyWasPressed($event)">
         <label for="autocomplete-input">Search Criteria</label>
       </div>
     </div>
   </form>
 </div>

<div style="text-align: center" ng-show="notFound">
  <h5>Sorry, not results for your search criteria.</h5>
  <p>You can try searching for example angular router, javascript closures etc...</p>
</div>

<div class="container" ng-show="showTopQuestions" ng-repeat="result in results.data.items">
 <div class="row post">
     <div class="col s2 m2 l2">
      <a style="cursor:auto" href="#">
          <div class="chip"><i class="material-icons" style="font-size: 13px;">navigation</i>{{result.score}}</div>
        </a>
     </div>

     <div class="col s8 m8 l8">
          <div class="col s12" >
            <a class="title" target="_blank" href="{{result.link}}" ng-bind-html="result.title"></a>
            </div>
      </div>

    <div class="col s2 m2 l2">
    <a style="cursor:pointer" href="{{result.owner.link}}" target="_blank">
    <img src="{{result.owner.profile_image}}" class="circle" width="45"></a>
   </div>

 </div>
</div>
</div>

</div>     


<script type="text/javascript" src="lib/jquery-3.2.1.min.js"></script>
<script src="lib/jquery-3.2.1.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
<script src="lib/angular-1.6.3.min.js"></script>
<script src="lib/angular-sanitize-1.6.3.min.js"></script>
<script type="text/javascript" src="lib/materialize.min.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers/stackoverflowController.js"></script>
<script src="js/services/stackoverflowService.js"></script>
<script src="lib/moment.js"></script>

</body>
</html>
