 <div>
  <div class="row container">
   <form class="col m12 s12">
     <div class="row">
       <div class="input-field col m12 s12">
         <input id="icon_prefix" type="text" class="validate" ng-model="searchString" ng-keypress="checkIfEnterKeyWasPressed($event)">
         <label for="icon_prefix">Search articles</label>
         <p class="range-field">
		      	<input type="range" id="rangeslider" min="1850" max="2017" value="1850" onchange="yearChanged(this.value);"/>
		    	</p>
       </div>
     </div>
   </form>
 </div>
 			    
		   		

  	


<div class="container" ng-show="showArticles" ng-repeat="article in articles">
 

  {{article.title}}
	{{article.date}}


</div>