 <div>
  <div class="row container">
   <form class="col m12 s12">
     <div class="row">
       <div class="input-field col m12 s12">
         <input id="icon_prefix" type="text" class="validate" ng-model="searchString" ng-keypress="checkIfEnterKeyWasPressed($event)">
         <label for="icon_prefix">Search articles</label>
         <!--<p class="range-field">
		      		<input type="range" id="rangeslider" min="1800" max="2017" onchange="updateInputRange(this.value);"/>
		    	</p>-->
       </div>
     </div>
   </form>
 </div>
 			    
		   		

  	


<div class="container" ng-show="showArticles" ng-repeat="result in searchQuery.data.data.response.docs">
 

	{{result.headline.main}}


</div>
