 <div>
  
  <div class="row">
   <form class="col m12 s12">
     <div class="row">
       <div class="input-field col m8 s12 offset-s2">
         <input id="icon_prefix" type="text" class="validate" ng-model="searchString" ng-keypress="checkIfEnterKeyWasPressed($event)">
         <label for="icon_prefix">Search articles</label>
         <div class="row" style="margin-top:40px;">
            <div class="col s1">{{startYear}} </div>
            <div class="col s10" id="yearSlider"> </div>
            <div class="col s1">{{endYear}}</div>
         </div>
       </div>
     </div>

   </form>
 </div>
 			    
		   		

<div ng-show="showArticles" ng-repeat="article in articles">
  <div class="post-preview">
        <a href="{{article.url}}" target="_blank">
            <p class="post-title">
               {{article.title}}
            </p>
        </a>
          <div class="row">
            <div class="col">
                <i class="material-icons timerIcon">av_timer</i>
            </div>
            <div class="col" style="font-family: 'Delius', cursive;">
              {{article.date}}
            </div>
          </div>
        <p class="paragraph">
              {{article.paragraph}}
        </p>
  </div>
      <hr>
</div>