<div>
  <div class="row">
   <form class="col m12 s12">
     <div class="row">
       <div class="input-field col m12 s12">
         <input id="icon_prefix" type="text" class="validate" ng-model="inputSearch" ng-keypress="checkIfEnterKeyWasPressed($event)">
         <label for="icon_prefix">Search Criteria</label>
       </div>
     </div>
   </form>
 </div>

<div class="container" ng-show="showTopQuestions" ng-repeat="result in results.data.items">
 <div class="row post">
     <div class="col s2 m2 l2">
      <a style="cursor:auto" href="#">
          <div class="chip"><i class="material-icons" style="font-size: 13px;">navigation</i>{{result.score}}</div>
        </a>
     </div>

     <div class="col s8 m8 l8">
          <div class="col s12" >
            <a class="title" target="_blank" href="{{result.link}}" ng-bind-html="result.title"></a>
            </div>
      </div>

    <div class="col s2 m2 l2">
    <a style="cursor:pointer" href="{{result.owner.link}}" target="_blank">
    <img src="{{result.owner.profile_image}}" class="circle" width="45"></a>
   </div>

 </div>
</div>
</div>
